<section id="anniversary" class="anniversary">
    <div class="container">
        <div class="anniversary__title mb-4 md-md-5">
            <h2 class="accent accent-xl accent-secondary" data-aos="fade-up">Нам 25 лет!</h2>
        </div>

        <div class="anniversary__card">
            <div>
                <p class="anniversary__paragraph">
                    Свято-Димитриевскому детскому центру исполняется 25 лет! Уже четверть века мы дарим детям,
                    оказавшимся в
                    трудной жизненной ситуации, поддержку, заботу и развитие. Каждый день мы учим, кормим, занимаемся
                    творчеством и реабилитацией, умножая радость детства.
                </p>
                <p class="anniversary__paragraph">
                    Но чтобы эта помощь продолжалась, многих ребят, особенно с инвалидностью, нужно каждый день
                    безопасно
                    привозить на занятия в центр и развозить по домам. А наш старый автомобиль с этой задачей больше не
                    справляется.
                </p>
                <p class="anniversary__paragraph">
                    Мы запускаем юбилейный сбор на часть стоимости нового транспорта. Помогите нам отметить 25 лет
                    добрых
                    дел по-настоящему — подарив детям надежный путь к добру и развитию!
                </p>
                <div class="anniversary__links">
                    <a class="button button-secondary" href="https://event.miloserdie.help/event/25-let-dobra/#donate"
                       target="_blank" title="Перейти">
                        Поддержать →
                    </a>
                    <a class="button button-primary" href="https://event.miloserdie.help/event/25-let-dobra/#share"
                       target="_blank" title="Перейти">
                        Поделиться →
                    </a>
                </div>
            </div>
            <div class="anniversary__image-wrapper">
                <img class="anniversary__image-decor" src="{{ 'assets/images/icons/circles.svg'|theme }}" alt="Decor">
                <img class="anniversary__image" src="{{ 'assets/images/psddd-children.jpg'|theme }}" width="300"
                     height="300" alt="Дети">
            </div>
        </div>
    </div>
</section>
