<section id="costs" class="costs">
    <div class="container">
        <div class="mb-4 md-md-5">
            <div class="d-flex flex-column align-items-center gap-3 mb-4 md-md-5">
                <img src="{{ 'assets/images/logo.png'|theme }}" width="150" height="150" alt="Логотип"/>
                <div class="accent accent-xl accent-red" data-aos="fade-up">
                    Занятия и цены
                </div>
            </div>

            <div class="costs-table mb-4 md-md-5">
                <div class="costs-table__row">
                    <div class="costs-table__cell background-secondary text-wheat">
                        КОМПЛЕКСНОЕ ЗАНЯТИЕ
                    </div>
                    <div class="costs-table__cell background-wheat">
                        <span class="costs-table__text-sm">от</span>&nbsp;1836&nbsp;<span
                            class="costs-table__text-sm">₽</span>
                    </div>
                </div>
                <div class="costs-table__row">
                    <div class="costs-table__cell background-primary text-wheat">
                        музыкальное развитие
                    </div>
                    <div class="costs-table__cell background-wheat">
                        <span class="costs-table__text-sm">от</span>&nbsp;1615&nbsp;<span
                            class="costs-table__text-sm">₽</span>
                    </div>
                </div>
                <div class="costs-table__row">
                    <div class="costs-table__cell background-yellow text-wheat">
                        мир вокруг нас
                    </div>
                    <div class="costs-table__cell background-wheat">
                        <span class="costs-table__text-sm">от</span>&nbsp;1657&nbsp;<span
                            class="costs-table__text-sm">₽</span>
                    </div>
                </div>
                <div class="costs-table__row">
                    <div class="costs-table__cell background-secondary text-wheat">
                        арт-студия
                    </div>
                    <div class="costs-table__cell background-wheat">
                        <span class="costs-table__text-sm">от</span>&nbsp;1657&nbsp;<span
                            class="costs-table__text-sm">₽</span>
                    </div>
                </div>
            </div>

            <button type="button" class="button button-primary button-lg d-flex mx-auto" data-bs-toggle="modal"
                    data-bs-target="#request-modal">Записаться
            </button>
        </div>

        <div id="photo-gallery" class="gallery">
            <div class="gallery__top mb-4 md-md-5">
                <h2 class="accent accent-xl accent-secondary" data-aos="fade-up">Фотогалерея</h2>
<!--                <div class="gallery__subtitle">Детство – это фундамент будущего</div>-->
            </div>

            <div class="fancybox-default f-carousel">
                <div class="f-carousel__slide" data-fancybox="gallery" data-src="{{ 'Facade/1.jpg'|media }}">
                    <img class="" src="{{ 'Facade/1.jpg'|media }}" alt="1"/>
                </div>
                <div class="f-carousel__slide" data-fancybox="gallery" data-src="{{ 'Facade/2.jpg'|media }}">
                    <img class="" src="{{ 'Facade/2.jpg'|media }}" alt="2"/>
                </div>
                <div class="f-carousel__slide" data-fancybox="gallery" data-src="{{ 'Facade/3.jpg'|media }}">
                    <img class="" src="{{ 'Facade/3.jpg'|media }}" alt="3"/>
                </div>
            </div>
        </div>
    </div>
</section>
