<section id="courses" class="courses">
    <div class="container">
        <div class="courses__title mb-4 md-md-5" data-aos="fade-up">
            <div>Группы детского центра</div>
            {# <div class="courses__title-accent">атмосферу</div> #}
        </div>

        {# <div class="courses__video mb-4 md-md-5">
            <video autoplay muted loop>
                <source src="{{ 'assets/video/courses.MOV'|theme }}" type="video/mp4">
            </video>
        </div> #}

        {# <div class="courses__subtitle mb-3" data-aos="fade-up">
            <span class="courses__subtitle-accent">КУРСЫ</span>
        </div>
        <div class="courses__text mb-4 md-md-5">В нашем центре мы предлагаем целый комплекс услуг, который
            обеспечивает полное погружение в
            увлекательные и прогрессивные методы обучения
        </div> #}

        {# <div class="courses__plans mb-4 md-md-5">
            <img src="{{ 'assets/images/courses-plan-1.png'|theme }}" alt="Plan1"/>
            <img src="{{ 'assets/images/courses-plan-2.png'|theme }}" alt="Plan2"/>
        </div> #}

        {# <div class="courses__desc mb-4 md-md-5" data-aos="fade-up">
            <div>ВАШ ребенок заслуживает</div>
            <div class="courses__desc-accent">самого лучшего образования</div>
        </div>

        <button type="button" class="button button-yellow mx-auto d-flex" data-bs-toggle="modal"
                data-bs-target="#request-modal">Записаться на занятие
        </button> #}
    </div>
</section>