<section id="photo-gallery" class="gallery">
    <div class="container">
        <div class="gallery__top mb-4 md-md-5">
            <div class="accent accent-xl accent-secondary mb-3" data-aos="fade-up">Фотогалерея</div>
            <div class="gallery__subtitle">Детство – это фундамент будущего</div>
        </div>

        <div class="fancybox-default f-carousel carousel-frame carousel-frame-primary2">
            <div class="f-carousel__slide" data-fancybox="gallery" data-src="{{ 'Facade/1.jpg'|media }}">
                <img class="" src="{{ 'Facade/1.jpg'|media }}" alt="1"/>
            </div>
            <div class="f-carousel__slide" data-fancybox="gallery" data-src="{{ 'Facade/2.jpg'|media }}">
                <img class="" src="{{ 'Facade/2.jpg'|media }}" alt="2"/>
            </div>
            <div class="f-carousel__slide" data-fancybox="gallery" data-src="{{ 'Facade/3.jpg'|media }}">
                <img class="" src="{{ 'Facade/3.jpg'|media }}" alt="3"/>
            </div>
            <div class="f-carousel__slide" data-fancybox="gallery" data-src="{{ 'Facade/4.jpg'|media }}">
                <img class="" src="{{ 'Facade/4.jpg'|media }}" alt="3"/>
            </div>
            <div class="f-carousel__slide" data-fancybox="gallery" data-src="{{ 'Facade/5.jpg'|media }}">
                <img class="" src="{{ 'Facade/5.jpg'|media }}" alt="3"/>
            </div>
            <div class="f-carousel__slide" data-fancybox="gallery" data-src="{{ 'Facade/6.jpg'|media }}">
                <img class="" src="{{ 'Facade/6.jpg'|media }}" alt="3"/>
            </div>
        </div>
    </div>
</section>
