<section id="photo-gallery" class="gallery clouds-top clouds-bottom">
    <div class="container">
        <div class="gallery__top mb-4 md-md-5">
            <div class="accent accent-xl accent-secondary mb-3" data-aos="fade-up">Фотогалерея</div>
            <div class="gallery__subtitle">Детство – это фундамент будущего</div>
        </div>

        <div class="fancybox-default f-carousel carousel-frame carousel-frame-primary2">
            <div class="f-carousel__slide" data-fancybox="gallery" data-src="{{ 'assets/img/slider/1.jpg'|theme }}">
                <img class="" src="{{ 'assets/images/slider/1.jpg'|theme }}" alt="1"/>
            </div>
            <div class="f-carousel__slide" data-fancybox="gallery" data-src="{{ 'assets/img/slider/2.jpg'|theme }}">
                <img class="" src="{{ 'assets/images/slider/2.jpg'|theme }}" alt="2"/>
            </div>
            <div class="f-carousel__slide" data-fancybox="gallery" data-src="{{ 'assets/img/slider/3.jpg'|theme }}">
                <img class="" src="{{ 'assets/images/slider/3.jpg'|theme }}" alt="3"/>
            </div>
        </div>
    </div>
</section>
