<section id="hero" class="hero clouds-bottom">
    <div class="container">
        <div class="hero__inner">
            <div>
                <h1 class="h1 mb-2">Детский центр</h1>
                <div class="hero__subtitle mb-4 md-md-5">для детей от 2 до 7 лет</div>
                <div class="fancybox-default f-carousel carousel-frame carousel-frame-primary d-lg-none">
                    <div class="f-carousel__slide" data-fancybox="gallery" data-src="{{ 'assets/img/slider/1.jpg'|theme }}">
                        <img class="" src="{{ 'assets/images/slider/1.jpg'|theme }}" alt="1"/>
                    </div>
                    <div class="f-carousel__slide" data-fancybox="gallery" data-src="{{ 'assets/img/slider/2.jpg'|theme }}">
                        <img class="" src="{{ 'assets/images/slider/2.jpg'|theme }}" alt="2"/>
                    </div>
                    <div class="f-carousel__slide" data-fancybox="gallery" data-src="{{ 'assets/img/slider/3.jpg'|theme }}">
                        <img class="" src="{{ 'assets/images/slider/3.jpg'|theme }}" alt="3"/>
                    </div>
                </div>
                <div class="hero__circle z-1 mb-4 md-md-5">
                    <div class="hero__circle-title mb-1">Мы предлагаем</div>
                    <ul class="hero__list">
                        <li class="hero__list-item">увлекательные занятия для развития речи, мышления, внимания
                            и
                            памяти
                        </li>
                        <li class="hero__list-item">творческие мастер-классы</li>
                        <li class="hero__list-item">весёлые игры и спортивные упражнения</li>
                    </ul>
                    <button
                            type="button"
                            class="hero__circle-info"
                            data-bs-toggle="popover"
                            data-bs-placement="left"
                            data-bs-custom-class="custom-popover"
                            data-bs-html="true"
                            data-bs-trigger="focus"
                            data-bs-content="<span class='fw-bold'>Развиваем творческое самовыражение</span>: занимаемся рисованием, изо-лепкой, аппликацией<br><br>
<span class='fw-bold'>Формируем интеллектуальный капитал</span>: занимаемся ранним развитием детей и подготовкой к школе<br><br>
<span class='fw-bold'>Совершенствуем эмоциональную сферу</span>: учимся понимать свои эмоции<br><br>
<span class='fw-bold'>Растим чемпионов и лидеров</span>: занимаемся физическим развитием с элементами бэби-фитнеса и бэби-йоги"
                    >
                    </button>
                </div>
                <div class="hero__desc-title mb-2">
                    Запишитесь на
                    <span class="text-secondary">бесплатное</span> пробное занятие
                </div>
                <div class="hero__desc-text mb-4">
                    А для новых учеников мы подготовили <span class="text-yellow">БОНУС</span> - подарочное
                    занятие
                    в <span class="text-yellow">АРТ-СТУДИИ</span>
                </div>
                <button type="button" class="button button-secondary" data-bs-toggle="modal"
                        data-bs-target="#request-modal">Записаться на бесплатное занятие
                </button>
            </div>
            <div class="hero__slider-wrapper">
                <div class="fancybox-default f-carousel carousel-frame carousel-frame-primary">
                    <div class="f-carousel__slide" data-fancybox="gallery" data-src="{{ 'assets/img/slider/1.jpg'|theme }}">
                        <img class="" src="{{ 'assets/images/slider/1.jpg'|theme }}" alt="1"/>
                    </div>
                    <div class="f-carousel__slide" data-fancybox="gallery" data-src="{{ 'assets/img/slider/2.jpg'|theme }}">
                        <img class="" src="{{ 'assets/images/slider/2.jpg'|theme }}" alt="2"/>
                    </div>
                    <div class="f-carousel__slide" data-fancybox="gallery" data-src="{{ 'assets/img/slider/3.jpg'|theme }}">
                        <img class="" src="{{ 'assets/images/slider/3.jpg'|theme }}" alt="3"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>