<section id="steps" class="steps clouds-top">
    <div class="container position-relative z-1">
        <div class="steps__title mb-4 md-md-5" data-aos="fade-up">
            <div>У каждого возраста свои</div>
            <div class="steps__title-accent">уникальные навыки и способности</div>
        </div>

        <p class="text-center fw-semibold mb-4 md-md-5">
            Дети за одно посещение проходят по кругу 3 занятия по 30 минут: например, сначала творческий класс,
            потом спортивный класс, затем эмоциональное развитие.
        </p>
    </div>

    <div class="position-relative">
        <div class="container">
            <div class="steps__grid mb-4 md-md-5">
                <!-- Card 1 -->
                <div class="steps__item">
                    <div class="years">
                        <div class="years__number">2-3</div>
                        <div class="years__text">года</div>
                    </div>
                    <div class="card-star">
                        <div class="card-star__title mb-2">Чем занимаемся:</div>
                        <div class="card-star__text">Активно исследуем мир вокруг себя, изучаем фигуры, формы,
                            цвета,
                            развиваем речь, учимся понимать эмоции и ищем причинно-следственные связи.
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="steps__item">
                    <div class="years">
                        <div class="years__number">3-4</div>
                        <div class="years__text">года</div>
                    </div>
                    <div class="card-star">
                        <div class="card-star__title mb-2">Чем занимаемся:</div>
                        <div class="card-star__text">Определяем свое место в обществе, устанавливаем границы,
                            учимся
                            взаимодействовать с другими детьми, знакомимся с цифрами, буквами, учим стихи, ищем
                            свои
                            сильные стороны
                        </div>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="steps__item">
                    <div class="years">
                        <div class="years__number">4-5</div>
                        <div class="years__text">лет</div>
                    </div>
                    <div class="card-star">
                        <div class="card-star__title mb-2">Чем занимаемся:</div>
                        <div class="card-star__text">Учимся мыслить образами, формируем ведущую руку, решаем
                            задачи
                            на
                            сравнение, исправление ошибок, выявляем основной канал восприятия, учимся управлять
                            своими
                            эмоциями, воспитываем эмпатию
                        </div>
                    </div>
                </div>

                <!-- Card 4 -->
                <div class="steps__item">
                    <div class="years">
                        <div class="years__number">5-6</div>
                        <div class="years__text">лет</div>
                    </div>
                    <div class="card-star">
                        <div class="card-star__title mb-2">Чем занимаемся:</div>
                        <div class="card-star__text">Учимся читать по слогам, развиваем критическое мышление,
                            готовим
                            руку к письму, формируем навык публичных выступлений, знакомимся с произведениями
                            искусства
                            и музыки
                        </div>
                    </div>
                </div>

                <!-- Card 5 -->
                <div class="steps__item">
                    <div class="years">
                        <div class="years__number">6-7</div>
                        <div class="years__text">лет</div>
                    </div>
                    <div class="card-star">
                        <div class="card-star__title mb-2">Чем занимаемся:</div>
                        <div class="card-star__text">Учимся рассуждать, решаем задачи, формируем абстрактное
                            мышление,
                            учим характеристики звуков, решаем простые задачи на сложение и вычитание, ищем
                            закономерности в логических цепочках
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <img class="steps__line steps__line-1" src="{{ 'assets/images/icons/line_2.svg'|theme }}" alt="Линия">
        <img class="steps__line steps__line-2" src="{{ 'assets/images/icons/line_3.svg'|theme }}" alt="Линия">
        <img class="steps__line steps__line-3" src="{{ 'assets/images/icons/line_4.svg'|theme }}" alt="Линия">
    </div>

    <div class="container pt-5 position-relative z-1">
        <div class="steps__footer-text mb-4 md-md-5 pb-5" data-aos="fade-up">
            Каждое занятие в своем пространстве — это<br>
            <span class="steps__footer-text-accent">наше уникальное отличие!</span>
        </div>
<!--        <button type="button" class="button button-yellow d-flex mx-auto" data-bs-toggle="modal"-->
<!--                data-bs-target="#request-modal">Записаться на занятие-->
<!--        </button>-->
    </div>
</section>