<div class="container py-4">
    <h1 class="h1 text-center text-primary mb-5">Новости</h1>
    <div class="articles-grid">
        <a class="article-card" href="#">
            <img class="article-card__img" src="./Facade/1.jpg" alt="1">
            <div class="article-card__content">
                <div class="article-card__date mb-1">18.09.2022</div>
                <div class="article-card__title mb-2">Заголовок</div>
                <div class="article-card__text">Текст</div>
            </div>
        </a>
        <a class="article-card" href="#">
            <img class="article-card__img" src="./Facade/2.jpg" alt="2">
            <div class="article-card__content">
                <div class="article-card__date mb-1">18.09.2022</div>
                <div class="article-card__title mb-2">Заголовок</div>
                <div class="article-card__text">Текст</div>
            </div>
        </a>
        <a class="article-card" href="#">
            <img class="article-card__img" src="./Facade/3.jpg" alt="3">
            <div class="article-card__content">
                <div class="article-card__date mb-1">18.09.2022</div>
                <div class="article-card__title mb-2">Заголовок</div>
                <div class="article-card__text">Текст</div>
            </div>
        </a>
    </div>
</div>
