url = "/news/article/:slug/:id"
layout = "default"
title = "Новость"
meta_title = "Свято-Димитриевский детский центр | {{ blog.title }}"

[section post]
handle = "Blog\Post"
identifier = "id"

[collection blogCategories]
handle = "Blog\Category"

[resources]
vars[activeNavLink] = "blog"
==
{% if post is empty %}
{% do abort(404) %}
{% elseif post.slug and post.slug != this.param.slug %}
{% do redirect(''|page({ slug: post.slug }), 301) %}
{% endif %}

{% set gallery = post.gallery %}
{% set width = width|default(640) %}
{% set height = height|default(640) %}
{% set maxWidth = maxWidth|default(1920) %}
{% set maxHeight = maxHeight|default(1920) %}

<div class="container py-4">
    <article class="article">
        <h1 class="article__title">
            {{ post.title }}
        </h1>
        <div class="article__content">
            {% if post.entry_type == 'markdown_post' %}
                {{ post.content|md|content }}
            {% else %}
                {{ post.content|content }}
            {% endif %}
        </div>

        <div class="article__gallery">
            <div class="fancybox-default f-carousel">
                {% for image in gallery %}
                <div class="f-carousel__slide">
                    <div class="fancybox-default__backdrop" style="background-image: url({{ image|resize(width, height, { extension: 'png', mode: 'auto' }) }})"></div>
                    <img class="fancybox-default__image" src="{{ image|resize(width, height, { extension: 'png', mode: 'auto' }) }}" alt="{{ image.title }}" />
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="article__meta">
            <div class="article__meta-item text-icon text-icon-date">
                {{ post.published_at_date|date('d-m-Y') }}
            </div>
        </div>
    </article>
</div>
