.font-namu {
    /*font-family: 'Namu', 'Arial', 'Helvetica', 'sans-serif';*/
}

.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-yellow {
    color: var(--yellow) !important;
}

.text-wheat {
    color: var(--wheat) !important;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 18px;
}

.fs-22 {
    font-size: 18px;
}

.fs-24 {
    font-size: 18px;
}

.background-primary {
    background-color: var(--primary);
}

.background-secondary {
    background-color: var(--secondary);
}

.background-wheat {
    background-color: var(--wheat);
}

.background-yellow {
    background-color: var(--yellow);
}

.is-invalid {
    border-color: var(--bs-danger) !important;
}

@media screen and (min-width: 768px) {
    .w-md-auto {
        width: auto !important;
    }
}

