<footer class="footer clouds-top">
    <div class="footer__top">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__logo mb-4 mb-md-0">
                    <img src="{{ 'assets/images/logo.png'|theme }}" width="150" height="150" alt="Логотип">
                </div>
                <div class="d-flex flex-wrap flex-column flex-lg-row align-items-center gap-4 my-3 my-lg-0 mx-0 mx-lg-5 mb-4 mb-lg-0">
                    <a class="footer__phone" href="tel:+74991517862">+7&nbsp;(499)&nbsp;151-78-62</a>
                    <button type="button" class="button button-secondary button-sm w-100 w-md-auto"
                            data-bs-toggle="modal"
                            data-bs-target="#request-modal">Онлайн запись
                    </button>
                </div>
                <nav class="footer__nav">
                    <ul class="footer__nav-list">
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="/#courses">О нас</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="/news">Новости</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="/#directions">Методика</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="/#costs">Занятия и цены</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="/#photo-gallery">Фотогалерея</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="/#map">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="footer__socials">
                    <a href="https://vk.com/sviatoddcentr" class="social" target="_blank">
                        <img src="{{ 'assets/images/icons/vk.svg'|theme }}" width="50" height="50" alt="Vk">
                    </a>
                    <a href="#header" class="up">
                        <img src="{{ 'assets/images/icons/angle-up.svg'|theme }}" width="32" height="32" alt="Вверх">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__divider"></div>

    <div class="footer__bottom">
        <div class="container">
            <div class="row gap-2 gap-md-0">
                <div class="col-12 col-md-6 col-xl-4 d-flex justify-content-center">
                    <div class="copyright">Свято-Димитриевский детский центр ©&nbsp;2024</div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 d-flex justify-content-center">
                    <div class="copyright">Все права защищены</div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 d-flex justify-content-center">
                    <a class="copyright" href="/#" target="_blank">Политика персональных данных</a>
                </div>
            </div>
        </div>
    </div>
</footer>