<header id="header" class="header">
    <div class="container">
        <div class="header__inner">
            <a href="/" class="logo flex-shrink-0">
                <img src="{{ 'assets/images/logo.png'|theme }}" width="100" height="100" alt="Логотип"/>
            </a>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="/">Главная</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/info">Образовательная деятельность</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/management">Руководство и Педагогический состав</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/history">История</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/documents">Документы организации</a>
                    </li>
<!--                    <li class="nav__item">-->
<!--                        <a class="nav__link" href="/news">Новости</a>-->
<!--                    </li>-->
<!--                    <li class="nav__item">-->
<!--                        <a class="nav__link" href="/needs">Нужды проекта</a>-->
<!--                    </li>-->
                    <li class="nav__item">
                        <a class="nav__link" href="/contacts">Контакты</a>
                    </li>
                </ul>
            </nav>
            <a class="phone mx-3" href="tel:+74991517862">+7&nbsp;(499)&nbsp;151-78-62</a>
            <div class="d-flex align-items-center">
                <a class="phone-icon" href="tel:+74991517862"></a>
                <button type="button" class="burger-icon ms-2"></button>
            </div>
        </div>
    </div>
</header>
