<button class="burger-fixed opacity-0" type="button"></button>
<div class="sidebar d-none">
    <div class="sidebar__backdrop"></div>
    <div class="sidebar__inner">
        <button class="sidebar__close-btn" type="button"></button>
        <div class="sidebar__content">
            <img class="sidebar__logo mb-4" src="{{ 'assets/images/logo.png'|theme }}" width="150" height="150" alt="Логотип">
            <nav class="sidebar__nav">
                <ul class="sidebar__nav-list">
                    <li class="sidebar__nav-item">
                        <a class="sidebar__nav-link" href="/">Главная</a>
                    </li>
                    <li class="sidebar__nav-item">
                        <a class="sidebar__nav-link" href="/history">История</a>
                    </li>
                    <li class="sidebar__nav-item">
                        <a class="sidebar__nav-link" href="/management">Руководство и Педагогический состав</a>
                    </li>
                    <li class="sidebar__nav-item">
                        <a class="sidebar__nav-link" href="/documents">Документы организации</a>
                    </li>
                    <li class="sidebar__nav-item">
                        <a class="sidebar__nav-link" href="/activities">Сведения об образовательной организации</a>
                    </li>
                    <li class="sidebar__nav-item">
                        <a class="sidebar__nav-link" href="/news">Новости</a>
                    </li>
                    <li class="sidebar__nav-item">
                        <a class="sidebar__nav-link" href="/needs">Нужды проекта</a>
                    </li>
                    <li class="sidebar__nav-item">
                        <a class="sidebar__nav-link" href="/info">Сведения</a>
                    </li>
                    <li class="sidebar__nav-item">
                        <a class="sidebar__nav-link" href="/contacts">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="sidebar__footer">
            <div class="sidebar__socials mb-4">
                <a href="https://vk.com/sviatoddcentr" class="sidebar__social" target="_blank">
                    <img src="{{ 'assets/images/icons/vk.svg'|theme }}" width="24" height="24" alt="VK">
                </a>
            </div>
<!--            <button class="button button-yellow button-sm" type="button" data-bs-toggle="modal"-->
<!--                    data-bs-target="#request-modal">Онлайн запись-->
<!--            </button>-->
        </div>
    </div>
</div>
