<!-- Libs -->
<link rel="stylesheet" href="{{ 'assets/css/libs/aos.min.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/libs/bootstrap.min.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/libs/fancybox.min.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/libs/carousel.min.css'|theme }}">

<!-- Styles-->
<link rel="stylesheet" href="{{ 'assets/css/index.css'|theme }}?v=01">
<link rel="stylesheet" href="{{ 'assets/css/helpers.css'|theme }}?v=01">
<link rel="stylesheet" href="{{ 'assets/css/sections.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/components.css'|theme }}?v=04">
